nav{
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15hv;
  background-color: white;
}
.logo{
  display: flex;
  align-items: center;
}
nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 3rem;
 font-weight: 700;
 font-size: large;
 color: crimson;
 
}

